/* START MAIN RULES */
body {
  background-color: #F4F4F4;
  font-size: 16px;
}
/* END MAIN RULES */
/* START LOGIN FORM */
.login {
  width: 300px;
  margin: 100px auto;
}
.login h4 {
  color: #777;
}
.login input {
  margin-bottom: 10px;
}
.login .form-control {
  background-color: #EAEAEA;
}
/* END LOGIN FORM */
/* START BOOTSTRAP EDITS */
.dropdown-menu.my-menu {
  left: auto;
  right: 0;
}
.main-table td,
.main-table th {
  vertical-align: middle;
  text-align: center;
}
.delete-form {
  width: 200px !important;
  margin: 40px auto !important;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
/* END BOOTSTRAP EDITS */
/* START DASHBOARD EDITS */
.home-stats h1 {
  margin: 50px;
  font-size: 4rem;
}
.home-stats .stat {
  background-color: #EEE;
  border: 1px solid #CCC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 15px;
  border-radius: 5px;
}
.home-stats .stat span {
  font-size: 60px;
}
.latest {
  margin-top: 30px;
}
.latest .panel-heading {
  background-color: #EEE;
  padding: 15px;
  border: 1px solid #ddd;
}
.latest .panel-body {
  background-color: #FFF;
  padding: 15px;
  border: 1px solid #ddd;
}
/* END DASHBOARD EDITS */